*.npz
*.pkl
*.png
*.o*
*.e*
*.cpg
barotropicSWEs/Analysis/Model\ B/Barotropic\ FEM\ Objects
barotropicSWEs/Analysis/Model\ B/Parameter\ Sweeps
barotropicSWEs/Analysis/Model\ B/Meshes
barotropicSWEs/Analysis/Model\ A
